
<% @applications.each do |a| %>
    <div class="card w-75 bg-light">
        <div class="card-body">
            <h5 class="card-title text-dark"><%= a.subject %></h5>
            <h6>
                <span class="badge bg-warning text-dark">Status: <%= a.status %></span>
                <span class="badge bg-dark text-light">User: <%= a.user.username %></span>
            </h6>
            <p class="card-text"><%= a.message %></p>
            <p class="card-text">
                <small class="text-muted">Last updated <%= time_ago_in_words(a.updated_at)%> ago.</small>
            </p>
            <% if a.application_type == "Application" %>
                <%= link_to 'Accept', application_path, method: :patch, data: { :status => 2, confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %>
                <%= link_to 'Decline', listings_path, class: 'btn btn-danger btn-sm' %>
            <% elsif a.application_type == "Report" %>
                <%= link_to 'Listing', listings_path, class: 'btn btn-primary btn-sm' %>
                <%= link_to 'User', listings_path, class: 'btn btn-dark text-light btn-sm' %>
                <%= link_to 'Close Report', listings_path, class: 'btn btn-secondary btn-sm' %>
            <% end %>
        </div>

        <% if false%>
            <img class="card-img-bottom" src="..." alt="Card image cap">
        <% end %>
    </div>
<% end %>
