


<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CoCaTr</a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <%= link_to "Home", root_path, method: :get, class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Browse", listings_path, method: :get, class: "nav-link"%>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "New", new_listing_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "My Listings", my_listings_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "Profile", root_path, method: :get, class: "nav-link"%>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, method: :get, class: "nav-link"%>
            </li>
        <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div class="form-group input-group" action="index">
            <input class="form-control mr-sm-2" type="search" name="title"  placeholder="Search listings..">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </form>
    <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-dark btn-sm"%>
    <% end %> 
  </div>
</nav>