<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.listing_type %>
</p>

<p>
  <strong>Game:</strong>
  <%= @listing.game %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.username %>
</p>
<p>
  <strong>Average Rating:</strong>
  <%= @listing.average_rating %>
</p>
<% if @listing.user == current_user %>
<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-secondary btn-sm'  %> 
<%= link_to 'Close', listings_path(@listing), method: :patch, :status => 1, confirm: 'Are you sure?', class: 'btn btn-danger btn-sm'  %>
<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %>
<% end %>
<%= link_to 'Reviews', listing_reviews_path(@listing.id), class: 'btn btn-secondary btn-sm'  %> 
<%= link_to 'New Application', new_listing_application_path(@listing.id), class: 'btn btn-secondary btn-sm'  %> 
<%= link_to 'New Review', new_listing_review_path(@listing.id), class: 'btn btn-secondary btn-sm'  %> 
<%= link_to 'Back', listings_path, class: 'btn btn-secondary btn-sm' %>


<% if @listing.user == current_user %>
  <h4>Pending Applications</h4>
  <div class="row">
    <div class="col-sm-6">
      <%= render "partials/application_cards" %>
    </div>
  </div>
<% end %>